doctype html
html 
    head 
    body 
        h1 Welcome to the Pokemon App
        p.
            This application will let you 
            search for pokemon 
        ul
            li item 1 
            li item 2 
            li item 3 