doctype html
html(lang="en")
    head
        title= "The Pokemon Web Server"
    body
    h1 The Pokemon Web Server

        block content
    
    block content

        a(href='/') Home
        |
        a(href='/search') Search
        |
        a(href='/user') User