//-Author Jason Hall
//*Referenced Code from https://github.com/Siphiwo/pokemon-codex-search/blob/main/index.html//

doctype html
head
  title Pokemon Codex
  #pokemon_info.pokemon
    .title-container
      h3#curPokemon.name.name &apos;Pokemon name&apos;
      hr.seperator
      .stats
        //span#update_hp.cp HP &apos;Pokemons hp&apos;
        span#update_cp.cp
    .attributes-container
      .col.attributes-content(style='min-width: 42%;')
        large.text-muted Type
        p#update_type.cp-text &apos;Pokemons type&apos;
      .col.attributes-content
        large.text-muted Weight
        p#update_weight.cp-text &apos;Pokemons weight&apos;
      .col.attributes-content
        large.text-muted Height
        p#update_height.cp-text.no-border &apos;Pokemons height&apos;
      .col.attributes-content
        large.text-muted Moves
        p#update_moves.cp-text &apos;Pokemons moves&apos;
    .col.data-container
      p#update_image.muted-text &apos;&apos;Pokemons image&apos;&apos;
