extends layout
block content
    body
      h2 Search for a pokemon
      form(method="post")
      
      input(name="value")
      br
      input(type="submit" value="Search!")
      |
      input(type="reset" value="Clear!")

      if results
        h3 Activity Search Results for #{results}