// Author Jason Hall
doctype html
head
  title  Welcome to the Pokemon application 
h1  WELCOME 
p  This application will allow you to search for pokemon 
input#searchBar(type='text' name='searchBar' placeholder='Search for a Pokemon')
