extends layout
block content
    body
      h2 Search for a pokemon
      form(method="POST", action='/pokemon/#{pokeID}')
      
      br
      input(type="submit" value="Search!")
      |
      input(type="reset" value="Clear!")

      if results
        h3 Pokemon #{results}